
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
 @import url('http://fonts.cdnfonts.com/css/century-gothic');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Didact+Gothic&display=swap');
                @import url('https://fonts.googleapis.com/css2?family=Aleo:ital@0;1&family=Antic+Slab&family=Didact+Gothic&display=swap');


body{
	margin:0;
	}

#container{
  font:normal 25px 'Arsenal', sans-serif;
	//font-weight:bold;
	margin:0;
	display:flex;
	flex-direction:column;
}

#header{
	//border:2px solid black;
	position:sticky;
	margin:0;
	z-index:200;
	background-color:white;
	top:0;
	border-bottom:0.002rem solid #a29090;
	background-image: linear-gradient(to bottom left,#eae1e1,white);
}

nav ul{
	display:flex;
	font-size:1.55rem;
	list-style:none;
	font-weight:550;
	align-items:center;
	justify-content:space-between;
	padding:5px 55px; 
	
}

#content{
	margin:20px 40px;
}

#color{ 
color:#990000;
}

#header_img{
	display:flex;
	flex-direction:row;
	justify-content:center;
}
#header_img img{
	width:100%;
}

nav ul li a{
	padding:0px 15px;
	text-decoration:none;
	
}

nav a:hover{
	color:#ffffff;
}

fieldset{
	//width:65%;
		background-image: linear-gradient(to top left,#f3f2f2,white);
}

.row {
  display: flex;
 // flex-direction:column;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content:center;
  align-items:center;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.content{
	padding:40rem;
}



.title{
	font-size:2rem;
	font-weight:bold;
}

legend{
	text-align:center;
}

.recentposts{

	font-size:1.5rem;
	display:flex;
//	flex-direction:column;
	justify-content:center;
}


ul.timeline {
    list-style-type: none;
    position: relative;
	display:flex;
	flex-direction:column;
	justify-content:center;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
  //  z-index: 4;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #a29090;
    left: 20px;
    width: 20px;
    height: 20px;
   // z-index: 100;
}


#posts{
	display:flex;
	margin:30px;
}

#button{
display:flex;
	justify-content:center;
padding:20px;	
}

.for_api{
	background-image: linear-gradient(to left,#eae1e1,#990000);
	color:white;
	align-items:center;
	border:0px;
	font-size:1.5rem;
	padding:0.5rem 1rem;
	cursor:pointer;
}

.for_api:hover{
	background-image: linear-gradient(to left,#343232,#eae1e1);
}

#footer{
	position:fixed;
	bottom:0;
		width:100%;
		background-color: #eae1e1;

		display:flex;
		overflow:hidden;
		justify-content:center;
		align-items:center;
		padding:15px 30px;
}

#footer i{
	margin:0px 10px;
	font-size:1.45rem;
	color:black;
	display:flex;

}

#footer a{
		text-decoration:none;
}

/* apiii */
#all{
	
	margin:2rem 0;

}

#all_posts{
	
	display:flex;
	justify-content:center;
	height:28rem;
	overflow-y:scroll;
}

table {
		width: 80%;


        border-collapse: collapse;
        text-align: left;
        border:1px solid #ecf0f1;
	background-image:linear-gradient(to top left,#ecf0f1,white);
		
      }
      td,
      th {
        border-top: 1px solid #ecf0f1;
		font-size:1.4rem;
        padding: 1.4rem;
		text-align:center;
      }

      td {
        
      }

      th {
        background-color: #eae1e1;
      }

      tr:nth-of-type(even) td {
        background-color: lighten(#4ecdc4, 35%);
      }

/* services */

#services{
	position:relative;
	width:100%;
	color:black;
	margin:5rem 0;
	word-spacing:1px;
	font-size:1.2rem;
	font-family: 'century-gothic',sans-serif;
}

.services{
	position:relative;

	margin:2%;
	display:flex;
	flex-direction:row;
	align-items:center;
}


.services div{
	padding:0 3.5%;
	width:40rem;

}	

.services div ul{
	padding-left:0;
}

.services li{
	font-weight:200;
	font-size:smaller;
	color:gray;
	
}

.services input{
	border:none;
	border-bottom:1px solid gray;
	font-size:14px;
	width:84%;
}

.services button{
	background-color:white;
}

.services input:focus{
	outline:none;
	border-bottom:1.5px solid black;
}

#create{
	display:flex;
	justify-content:center;
	
}
#create div{
	margin:1.4rem;
}
#create fieldset{
	font-size:1.25rem;
	display:flex;
	flex-direction:column;
}
#create input{
	width:100%;
}

@media only screen and (max-width:700px){
	#posts {
		flex-direction:column;
	}
	
	#nav{
		display:none;
	}
	
	.services{
		flex-direction:column;
		align-items:center;
	}
	.services div{
		width:75%;
	}
}

#header_img{
	display:flex;
	flex-direction:row;
	justify-content:center;
}
#header_img img{
	width:100%;
}

nav ul li a{
	padding:0px 15px;
	text-decoration:none;
	color:black;
	
}

nav a:hover{
	color:#ffffff;
}

/*CONTENT CSS*/

.content1{
	padding:0.3125rem 1.4375rem;
}


/* CAROUSEL2 FEATURED PRODUCTS CSS */
.carousel2, .carousel3 p{
//font-family: "Poppins",sans-serif;
}
	
.carousel2, .carousel3{
//background-color:#ededed;
}	
.carousel_titles{
	font-weight:bold;
	font-size:1.4375rem;
	//font-family:"Century Gothic",Arial,sans-serif;
}

.carousel-indicatorr{
	color:grey;
}

.carousel button{
	background-color:white;
	border:0;
	height:1.375rem;
	border-bottom:0.156rem solid #ededed;
	font-weight:bold;
	font-size:1rem;
	//font-family:"century gothic", arial,sans-serif;
}

.carousel button:hover{
	//color:#7c6e7f;
	border-bottom:0.156rem solid black;
}

.gradient-custom {

/* fallback for old browsers */
background: #ededed;


/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-image: linear-gradient(to bottom left,#eae1e1,white);
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
		  font:normal 25px 'Arsenal', sans-serif;
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}
.card-registration .select-arrow {
top: 13px;
}

#content2{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	//flex-wrap:60%;
	
	margin:20px 0px 45px 0px;
	align-items:center;
}

#content2 div{
	width:50%;
	//border:1rem solid black;
}

#content2 img{
	width:100%;
overflow:none;	
}

#intro{
	display:flex;
	flex-direction:column;
align-items:center;
padding:10px;
margin:20px;
overflow:hidden;
//background-image:URL("");
background-image: linear-gradient(to bottom right,#f3f2f2,white);
}

#intro #p1{
	font-size:3rem;
//COLOR:#EDEDED;
}

#p1 span{
	font-size:1.35rem;
	color:#787276;
}

#intro #hehe{
	font-size:1rem;
}
